﻿@using RodneyRibeiro.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
    @{ var id = (Session["usuario"] as User).IdUsuario;};
    <div>
        <div>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header" style="z-index:2">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>                        
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <a class="navbar-brand logotipo" href="Index"><img src="~/img/logo.png" style="width:50%"/></a>
                    <div class="collapse navbar-collapse nav-bar" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#"><span class="glyphicon glyphicon-question-sign azul"></span></a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-cog azul"></span></a></li>
                            <li><a href="Login"><span class="glyphicon glyphicon-log-out azul"></span></a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
        <div class="padding-sidebar col-md-1 navbar-fixed-top" style="z-index:1">
            <ul class="nav nav-pills nav-stacked sidebar">
                <li role="presentation"><a href="/User/Index"><span class="glyphicon glyphicon-home azul"></span><br />Home</a></li>
                <li role="presentation"><a href="/User/Transactions"><span class="glyphicon glyphicon-sort azul"></span><br />Transações</a></li>
                <li role="presentation"><a href="/User/Reports"><span class="glyphicon glyphicon-stats azul"></span><br />Relatórios</a></li>
                <li role="presentation"><a href="/User/Contacts"><span class="glyphicon glyphicon-user azul"></span><br />Contatos</a></li>
            </ul>
        </div>
    </div>
    <div id="main" class="col-md-11 padding-body">
        @RenderBody()
    </div>
</body>
</html>