﻿@using RodneyRibeiro.Models
@model User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div class="container">
    <div class="col-lg-12">
        <!-- Mensagem de erro-->
        @if (ViewBag.Erro != null)
        {
            <div class="alert alert-danger text-center" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                @ViewBag.Erro
            </div>
        }
        <!--começo form auto validador usando o validator.js obs: esse script está declarado só no _LayoutIndex.cshtml no rodapé da pagina-->
    </div>
    
    <div class="col-md-6 container-fluid">
        <h2>Olá, @((Session["usuario"] as User).Nome)</h2>
    </div>
    <div class="col-md-6 col-md-push-4">
        <p id="test" visible="true">R$ @((Session["usuario"] as User).Saldo)</p>@Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type = "hidden", @id="testtb"})
        <a onclick=""><span class="glyphicon glyphicon-plus-sign azul"></span></a><h4>Saldo - Conta principal</h4>
    </div>
    <div class="col-md-12">
        <div class="col-md-5 table-bordered">
            <div align="right" class="absolute"><br/><br /><br /><br />Recebimento<br/>__________<br/>Recebido: R$ @((Session["usuario"] as User).Saldo)</div>
            <div id="Recebido" style="min-width: 100px; height: 200px; max-width: 200px; "></div> 
            <div align="right" class="absolute2"><br /><br /><br /><br />Despesas<br />__________<br />Recebido: R$ @((Session["usuario"] as User).Despesa)</div>
            <div id="Despesa" style="min-width: 100px; height: 200px; max-width: 200px; "></div>
        </div>
        <div class="col-md-4 table-bordered">
            <div id="LinhaFdC"></div>
        </div>
    </div>
</div>

<script>
    Highcharts.chart('Recebido', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false
        },
        title: {
            text: 'Recebimento',
            align: 'center',
            verticalAlign: 'middle',
            y: 50
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                dataLabels: {
                    enabled: false,
                    distance: -50,
                    style: {
                        fontWeight: 'bold',
                        color: 'white'
                    }
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%']
            }
        },
        series: [{
            type: 'pie',
            name: 'Recebimento',
            innerSize: '25%',
            data: [
                ['Recebido', @((Session["usuario"] as User).Saldo)],
                ['Falta', 100],
            ]
        }]
    });
</script>
<script>
    Highcharts.chart('Despesa', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false
        },
        title: {
            text: 'Despesas',
            align: 'center',
            verticalAlign: 'middle',
            y: 50
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                dataLabels: {
                    enabled: false,
                    distance: -50,
                    style: {
                        fontWeight: 'bold',
                        color: 'white'
                    }
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%']
            }
        },
        series: [{
            type: 'pie',
            name: 'Despesas',
            innerSize: '25%',
            data: [
                ['', 0],
                ['', 0],
                ['', 0],
                ['', 0],
                ['Despesa', @((Session["usuario"] as User).Saldo)],
                ['Falta', 100]
            ]
        }]
    });
</script>
<script>
    Highcharts.chart('LinhaFdC', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Fluxo de Caixa'
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: 'Dinheiro'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: 'Entrada',
            data: [@((Session["usuario"] as User).Saldo), @((Session["usuario"] as User).Despesa), @((Session["usuario"] as User).Saldo), @((Session["usuario"] as User).Despesa), @((Session["usuario"] as User).Saldo), @((Session["usuario"] as User).Despesa), @((Session["usuario"] as User).Saldo), @((Session["usuario"] as User).Despesa), @((Session["usuario"] as User).Saldo), @((Session["usuario"] as User).Despesa), @((Session["usuario"] as User).Saldo), @((Session["usuario"] as User).Despesa)]
        }, {
            name: 'Saida',
            data: [@((Session["usuario"] as User).Despesa), @((Session["usuario"] as User).Saldo), @((Session["usuario"] as User).Despesa), @((Session["usuario"] as User).Saldo), @((Session["usuario"] as User).Despesa), @((Session["usuario"] as User).Saldo), @((Session["usuario"] as User).Despesa), @((Session["usuario"] as User).Saldo), @((Session["usuario"] as User).Despesa), @((Session["usuario"] as User).Saldo), @((Session["usuario"] as User).Despesa), @((Session["usuario"] as User).Saldo)]
        }]
    });
</script>